<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Game of Life</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
      <h1>Game of Life</h1>

      <div id="app-5">
        <div class="input-container">
          <button v-on:click="togglePlay">{{!play?"Start":"Stop"}}</button>
          <button v-on:click="reset">Reset</button>
          <input v-model="size" />  
        </div>

        <table>
          <tr v-for="row,rowId of grid">
            <td v-for="cell,colId of row" :class="{ alive: cell === 1 }" @click="toggleLife(rowId,colId)"></td>
          </tr>
        </table>
      </div>
    </body>
</html>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
